<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\sertt\Desktop\Tournament Tracker" />
	</appSettings>
	
	<connectionStrings>
		<add name="Tournaments" 
			 connectionString="Server=BERKAY;Database=Tournaments;Trusted_Connection=True; Encrypt=False"
			 providerName="System.Data.SqlClient"
			 />
	</connectionStrings>
</configuration>